<!-- Home Page -->
<script type="text/javascript" src="js/controller/RoutingCtrl.js"></script> 
<div id="home-page">
	<h2 class="text-center">Antidote Web Application</h2>
	<p>
		The Antidote Application (AA) is a computational system that automatically recommends individualized antidote treatment regimen and patient-specific doses based on patient-specific parameters. The AA is available in two formats: a standalone downloadable application for offline use and an online web application. It also provides a reporting solution linked to Poison Control and the Federal Adverse Event Reporting System. The system is well referenced and exclusively for toxicology. The antidotes and toxins covered by AA include those recommended for common use in hospitals as described by <a href="http://www.annemergmed.com/article/S0196-0644(09)00103-6/abstract" target="_blank">Dart et al, 2009</a>.
	</p>
	<p>
		To begin using the Antidote Application, click on the <a href="#antidote" id="antidote-link">Antidotes</a> or <a href="#toxin" id="toxin-link">Toxins</a> tabs in the upper right and follow the instructions.
	</p>
	<p>
		This project was designed by Jon Long, R.Ph., and Allen Yingyuan Zhang under the direction of Guanglan Zhang, PhD., and Vladimir Brusic, PhD. as a part of the Boston University MET Health Informatics Lab program.
	</p>
	<!-- Disclaimer -->
	<div class="alert alert-success">
	    <h4>Disclaimer</h4> 
	    <p>
	    	This educational program is not intended for individual patient care. If you are caring for a known or suspected poisoned patient, please contact your regional poison control center for patient specific management by dialing 1-800-222-1222.
		</p>
	</div>
	<p>
		To begin an adverse event report, please visit <a href="https://www.accessdata.fda.gov/scripts/medwatch/" target="_blank">https://www.accessdata.fda.gov/scripts/medwatch/</a>
	</p></br>                
	<h4>Download</h4>
	<p>
		You can download the Antidote Application by clicking on this link - <a href="http://www.met-hilab.org/files/antidote/antidote_application.jar" title="Click to Download">Antidote Java Application</a>
	</p>    
</div>